branches:
    - main
tagFormat: ${version}
plugins:
    - '@semantic-release/commit-analyzer'
    - '@semantic-release/release-notes-generator'
    - '@semantic-release/npm'
    - '@semantic-release/changelog'
    - - '@google/semantic-release-replace-plugin'
      - replacements:
            - files: [action.yml]
              from: 'foundry-auto-release:[-_a-zA-Z0-9.]+'
              to: 'foundry-auto-release:${nextRelease.version}'
    - '@semantic-release/git'
    - '@semantic-release/github'
